@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;500;600&family=Kanit:wght@400;500&display=swap');

* {
    font-family: 'Kanit', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - calc(100vh - 100%));
    overflow-x: hidden;
    padding: 10px;
    height: 100vh;
}

.wishing{
    background-color:#CC085D;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    position: relative;
    
}

.wishing::before{
    content: '';
    display: flex;
    width: 200px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 5px;
    border: 2px solid #CC085D;
    z-index: -1;
}



.wishing:hover {
    background-color: #9f0749;
}

div {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute
}

p {
    text-align: center;
}

